{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouver l'enssemble des produits que vous avez ajouter à votre panier

    MON PANIER
    {% if cart|length > 0%}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for prod in cart %}
                <tr>
                    <td>
                        <img style="height: 50px" src="/uploads/{{ prod.product.illustration }}" alt="{{ prod.product.name
                        }}">
                        <strong>{{ prod.product.name }}</strong><br>
                        <small>{{ prod.product.subtitle }}</small>
                    </td>
                    <td>
                        <a href="{{ path('decrease_to_cart',{'id':prod.product.id}) }}"><img class="quantity-icon" src="{{
                            asset
                                ('assets/img/moins.png') }}" alt="supprimer le produit"></a>
                        {{ prod.quantity }}
                        <a href="{{ path('add_to_cart',{'id':prod.product.id}) }}"><img class="quantity-icon" src="{{ asset('assets/img/plus.png') }}" alt="ajouter le produit"></a>
                    </td>
                    <td>{{ (prod.product.price /100 )| number_format(2,',','-') }} €</td>
                    <td>{{ ((prod.product.price * prod.quantity)/ 100 )| number_format(2,',','-') }} €</td>
                    <td>
                        <a href="{{ path('delete_to_cart',{'id':prod.product.id}) }}"><img src="{{ asset
                                ('assets/img/poubelle-de-recyclage.png')
                            }}" height="20px" alt="supprimer mon produit">
                        </a>
                    </td>
                </tr>
                {% set total = total + (prod.product.price * prod.quantity) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            Nombre de produits : {{ cart | length }}<br>
            <b>Total de mon panier : </b><b>{{ (total /100) | number_format(2,',','-') }} €</b><br>
            <a href="" class="btn btn-success mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide</b></p>
    {% endif %}
{% endblock %}
